code
{
	white-space: pre;
	display: block;
	counter-reset: lineno;
	background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 30px, #ffffff 30px, #ffffff 100%);
}

code:focus
{
	outline: none;
}

.line
{
	margin-left: 5px;
	counter-increment: lineno;
}

.line::before
{
	color: #aaa;
	content: counter(lineno);
	-webkit-user-select: none;
	-moz-user-select: none;
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	text-align: right;
	width: 20px;
}